@model Domain.Cruise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cruise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CruiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CruiseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CruiseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
